.page-header {
    background: $off-white;
    margin: 0 0 1.8rem 0;
    padding: 1.8rem 0;
}

.page-header__actions {
    margin-top: 1.6rem;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: bold;
    }
}
